<template>
  <div class="home">
    <HomeView msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeView from '@/components/HomeView.vue'

export default {
  name: 'home',
  components: {
    HomeView
  }
}
</script>
