<template>
  <div class="hello">
    <b-container fluid class="bv-example-row content">
      <b-row>
        <b-col xl="5" lg="6" md="6" sm="12" xs="12">
          <div class="segment">
            <b-media>
              <b-img slot="aside" :src="require('../assets/avatar.png')" rounded="circle" height="128" width="128" alt="avatar" />
              <h1>Logan Snow</h1>
              <h6>Student<br>Carnegie Mellon University<br>
                BS in ECE Class of 2021
              </h6>
            </b-media>
          </div>
        </b-col>
        <b-col lg="8" md="7">
          <div class=" equal">
          </div>
        </b-col>
      </b-row>
      <br>
      <br>
      <b-row class="mt-2">
        <b-col lg="10">
          <div class="segment">
            <p style="font-size:24px; padding:10px; text-indent: 40px">
              Hi, I'm Logan. I'm a second year student at Carnegie Mellon University majoring in Electrical and Computer Engineering with an additional major in Engineering and Public Policy. My specific interests include Cybersecurity, Software Engineering, and Logic Design.
            </p>
            <div class="divider"></div>
            <br>
            <h2>Updates</h2>
            <!-- <b-carousel id="infoscreen-carousel" :interval="10000" :indicators="true" :controls="true">
              <div v-for="n in projects.length" v-bind:key="n">
                <template>
                  <b-carousel-slide class="c-slide" v-bind:img-src="projects[n-1].project_img" v-bind:v-html="projects[n-1].project_desc" v-bind:key="n-1">
                    <span class="carousel-caption carousel-desc" v-html="projects[n-1].project_desc" v-bind:key="n*3">
                    </span>
                  </b-carousel-slide>
                </template>
              </div>
            </b-carousel> -->
            <b-card no-body v-for="n in projects.length" v-bind:key="n" class="mb-1">
              <template>
              <b-card-header header-tag="header" class="p-1" role="tab">
                <div block href="#"  v-b-toggle="'accordion' + n" variant="info"><b><a v-html="projects[n-1].project_title" v-bind:key="n*3" href="javascript:void()">Project 1 - Nov 2017</a></b></div>
              </b-card-header>
              <b-collapse v-bind:id="'accordion' + n" v-bind:visible="(n==1)" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <b-img style="float:right;" class="projimg" thumbnail fluid v-bind:src="projects[n-1].project_img"  v-bind:key="n*1">
                  </b-img>
                  <p class="card-text" v-html="projects[n-1].project_desc" v-bind:key="n*1">
                  </p>
                </b-card-body>
              </b-collapse>
              </template>
            </b-card>
          </div>
        </b-col>
        <b-col lg="2" class="mt-5 mt-lg-0">
          <div class="segment">
            <h2>Links</h2>
            My Profiles:
            <ul>
              <li><a target="_blank" href="www.linkedin.com/in/logan-h-snow">LinkedIn</a></li><br>
              <li><a target="_blank" href="https://gitlab.com/lsnow">GitLab</a></li><br>
              <li><a target="_blank" href="https://github.com/lsnow2017">GitHub</a></li><br>
              <li><a target="_blank" href="https://devpost.com/logansnow">DevPost</a></li><br>
              <li><a target="_blank" href="/Logan's Resume.pdf">Résumé</a></li>
            </ul>
            Interesting Websites:
            <ul>
              <li><a target="_blank" href="https://www.krebsonsecurity.com">Krebs On Security</a></li><br>
              <li><a target="_blank" href="https://www.cylab.cmu.edu">CyLab</a></li><br>
              <li><a target="_blank" href="http://www.xenonproductions.com">Xenon Productions</a></li>
            </ul>
            Admin Use:
            <ul>
              <li><a target="_blank" href="https://cloud.logansnow.com/">NextCloud</a></li><br>
              <li><a target="_blank" href="https://mediaserver.pro/">Media Server</a></li><br>
            </ul>
            <b-button class="mx-auto" style="width:100%" v-b-modal.modal1 variant="outline-success">Contact Me</b-button>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      text: `
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
        tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
        wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
        vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
        synth nesciunt you probably haven't heard of them accusamus labore VHS.
      `
    }
  },
  props: {
    msg: String,
    projects: {
      default: function () {
        // (for debugging:)
        // eslint-disable-next-line
        return JSON.parse('[{"project_img":"https://logansnow.com/projects/1.jpg", "project_title":"Yo", "project_desc":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum erat quam, tempor venenatis justo dictum vitae. Phasellus maximus egestas nisl ut tempus. Etiam dapibus, ex sed venenatis fringilla, metus metus eleifend augue, non facilisis neque leo at sem. Aliquam gravida mauris sit amet metus molestie, ut eleifend nunc placerat. Proin ut dui urna. Maecenas facilisis facilisis porta. Integer laoreet viverra justo sit amet fermentum. Fusce interdum ligula tortor, luctus sagittis sapien gravida id. Praesent nec semper justo. Integer hendrerit lacus lorem, et scelerisque quam vehicula nec."},{"project_img":"https://logansnow.com/projects/0.jpg", "project_title":"Yo", "project_desc":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum erat quam, tempor venenatis justo dictum vitae. Phasellus maximus egestas nisl ut tempus. Etiam dapibus, ex sed venenatis fringilla, metus metus eleifend augue, non facilisis neque leo at sem. Aliquam gravida mauris sit amet metus molestie, ut eleifend nunc placerat. Proin ut dui urna. Maecenas facilisis facilisis porta. Integer laoreet viverra justo sit amet fermentum. Fusce interdum ligula tortor, luctus sagittis sapien gravida id. Praesent nec semper justo. Integer hendrerit lacus lorem, et scelerisque quam vehicula nec."}]')
        // (for production:)
        // eslint-disable-next-line
        // return JSON.parse('[]')
      },
      type: Array
    }
  },
  async created () {
    this.$http.get('projects.php').then(function (response) {
      this.projects = response.data
    })
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@media (min-width: 1120px) {
  // .equal{
  //   min-height:172px;
  // }
  .content{
    padding-right:150px;
    padding-left:150px;
  }
  .projimg{
    max-width:400px;
  }
}
// @media (max-width: 1120px) {
//   .c-slide{
//     min-height:320px;
//   }
// }
.c-slide{
  max-height:500px;
}
.carousel-desc{
  background-color: rgba(45, 45, 46, 0.74);
  padding-left: 7px;
  padding-right: 7px;
}
.segment{
  padding: 14px;
  background-color:white;
  -webkit-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.75);
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.divider{
  margin: auto;
  height: 2px;
  width: 80%;
  text-align:center;
  border: 1.5px solid #42b983;
  border-radius: 200px;
}
a {
  color: #42b983;
}
</style>
