<template>
  <div id="app" v-on:click="showInfo">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <!-- <a href="javascript:void(0)">About</a> | -->
      <span v-b-modal.modal1><a href="javascript:void(0)" v-b-modal.modal1>Contact</a></span> |
      <a target="_blank" href="https://logansnow.com/Logan's Resume.pdf">Résumé</a>

    </div>
    <router-view/>
    <div id="footer">
      Website © 2018 Logan Snow, Student, <a target="_blank" href="https://cit.cmu.edu/">Carnegie Institute of Technology</a>, <a target="_blank" href="https://cmu.edu/">Carnegie Mellon University</a>.
    </div>

    <b-modal id="modal1" title="Contact Me">
      <p class="my-2">Cell: <a :href="'tel:' + phone">{{phone}}</a></p>
      <p class="my-4">Email: <a :href="'mailto:' + email">{{email}}</a></p>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'App',
  props: {
    msg: String,
    email: String,
    phone: String
  },
  methods: {
    showInfo: function () {
      var user = 'logansnow'
      var last4 = '8300'
      this.email = user + '@' + 'outlook.com'
      this.phone = '(508)' + ' ' + '332' + ' ' + last4
    }
  }
}
</script>

<style lang="scss">
.home{
  flex: 1 0 auto;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  color: #2c3e50;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  a {
    color: #42b983;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
#nav {
  padding: 20px;
  margin-bottom: 45px;
  background-color: #fff;
  a {
      font-weight: bold;
  }
}
body{
  background-image: url('~./assets/trianglify.png');
}
#footer {
  text-align: center;
  color: rgb(113, 113, 113);
  background-color: #fff;
  padding: 20px 40px 20px 20px;
  margin-top: 45px;
  a {
    font-weight: bold;
    color: rgb(113, 113, 113);
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
